.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem 8rem;
  padding: 3rem;
  border-radius: 100px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
  color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
  background-color 0.3s ease;
  cursor: pointer;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  padding: 20px;
}

.service:hover{
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  background-color: rgb(242, 172, 7);
  color: #2c2c2c;
}
.service:hover .card-icon{
  filter: none;

}
.card-icon {
  width: 120px;
  height: 80px;
  filter: invert(1);
  margin-bottom: 20px;
}

.service-title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.service-description {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .services {
    padding: 2rem;
  }

  .service {
    max-width: 90%;
  }

  .card-icon {
    height: 30px;
  }

  .service-description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 1.5rem;
  }

  .service {
    max-width: 100%;
  }

  .card-icon {
    height: 30px;
  }

  .service-description {
    font-size: 0.9rem;
  }
}
