nav {
    width: 100%;
    height: 60px;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
    margin: 0; 
}

html, body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 12rem;
    height: 6rem;
    margin-top: 2px;
}
.nav-btn {
    background-color: rgb(35, 35, 48);
    color: white;
    padding: 0.9rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover {
    background-color: #444;
}

nav ul {
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    color: #ccc;
}
.dark-nav {
    background: #f4f4f4;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.menu-icon {
    display: none;
}

@media (max-width: 1000px) {
    .logo {
        width: 15rem;
    }

    nav ul li {
        margin: 1rem 1.5rem; 
    }
}

@media (max-width: 1000px) {
    nav {
        padding: 0;
        margin-top: 0;
    }

    .logo {
        margin-left: -30px;
        width: 12rem;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #13194c;
        z-index: 11;
        width: 200px;
        color: white;
        padding: 30px;
        padding-top: 70px;
        transition: right 0.5s ease, visibility 0.5s ease;
        visibility: visible;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 2rem 0;
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
        z-index: 12;
    }

    .hide-mobile-menu {
        right: -200px;
        visibility: hidden;
    }

    .mobile-menu {
        right: 0;
        visibility: visible;
    }
}

@media (max-width: 450px) {
    .logo {
        width: 10rem; 
        height: 6rem; 
        margin-left: -20px; 
        margin-top: 5px; 
    }

    nav {
        padding: 0 10px;
        justify-content: space-between;
    }

    .menu-icon {
        margin-right: 10px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.show-overlay {
    display: block;
}
