.footer {
  margin-top: 30px;
  background: rgb(22, 22, 22); 
  border-radius: 30px;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  gap: 20px;
}

.footer-logo {
  margin-left: 40px;
}

.footer-logo .logo {
  margin-left: -50px;
  width:100px ;
}

.footer-logo p {
  font-size: 14px;
  color: whitesmoke;
  margin-bottom: 15px;
}

.footer-logo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-logo li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color:white;
  margin-bottom: 8px;
}

.footer-logo li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-links h4,
.footer-social h4 {
  font-size: 18px;
  color:  white;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 8px;
}

.footer-links a,
.footer-social a {
  color: orange;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #00aaff;
  transform: translateX(3px);
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: whitesmoke;
  margin-top: 20px;
}

.footer-middle {
  display: flex;
  gap: 200px;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
  }

  .footer-logo,
  .footer-middle {
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .footer-middle {
    justify-content: center;
    gap: 250px;
  }

  .footer-logo {
    order: 3;
  }

  .footer-logo .logo {
    width: 200px;
    margin-bottom: 10px;
  }

  .footer-logo p {
    margin-top: -30px;
  }

  .footer-logo p,
  .footer-logo li,
  .footer-links li,
  .footer-social li {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer-links h4,
  .footer-social h4 {
    font-size: 16px;
  }

  .footer-links a,
  .footer-social a {
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 12px;
    padding-top: 15px;
  }
}

@media (max-width: 480px) {
  .footer-middle {
    justify-content: center;
    gap: 80px;
  }

  .footer-logo .logo {
    width: 200px;
  }

  .footer-logo p {
    margin-top: -30px;
    margin-left: -50px;
  }

  .footer-logo p,
  .footer-logo li,
  .footer-links li,
  .footer-social li {
    font-size: 12px;
  }

  .footer-middle {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    font-size: 11px;
    padding-top: 10px;
  }

  .footer-content {
    gap: 15px;
  }
}
